---

---

<div
  class="aboutMeTitle text-4xl md:text-6xl border-b-8 link-underline link-underline-black"
>
  About Me
</div>

<ul
  class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical text-lg sm:text-2xl relative overflow-hidden"
>
  <li>
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
        ><path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path></svg
      >
    </div>
    <div class="timeline-text timeline-start md:text-end mb-10 relative">
      <time class="font-mono italic">1998</time>
      <div class="text-3xl sm:text-4xl font-black">Born and raised</div>
      I was born and raised in Pljevlja,Montenegro a small coal mining town in the
      northern most part of Montenegro.It was nice.
    </div>
    <hr class="bg-dark" />
  </li>
  <li>
    <hr class="bg-dark" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
        ><path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path></svg
      >
    </div>
    <div class="timeline-text timeline-end mb-10 relative">
      <time class="font-mono italic">2017</time>
      <div class="text-3xl sm:text-4xl font-black">
        University and my first real job
      </div>
      I enrolled in the Mediterranean University in Podgorica.I studied Information
      Technology.The summer before enrolling in the University i spent working as
      a bus conductor in the town of Herceg Novi,i would come back to work that job
      the next summer as well.
    </div>
    <hr class="bg-dark" />
  </li>
  <li>
    <hr class="bg-dark" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
        ><path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path></svg
      >
    </div>
    <div class="timeline-text timeline-start md:text-end mb-10 relative">
      <time class="font-mono italic">2018-2019</time>
      <div class="text-3xl sm:text-4xl font-black">
        Study,work in car wash,plan to go to the USA for the summer
      </div>
      I was in my second year of school and i was working in a car wash the entire
      year so i can pay for school.Most of my time was spent either working or studying
      to have good grades because i wanted to join a work and travel program to the
      USA for the summer.Luckily i got my J1 visa and i spent the best summer of
      my life while working and exploring in Denver,Colorado and im still hoping
      to go and visit back again.
    </div>
    <hr class="bg-dark" />
  </li>
  <li>
    <hr class="bg-dark" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
        ><path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path></svg
      >
    </div>
    <div class="timeline-text timeline-end mb-10 relative">
      <time class="font-mono italic">2020-2021</time>
      <div class="text-3xl sm:text-4xl font-black">
        Corona, Freelancing, Last year of school
      </div>
      During the Corona lockdown i went back to my hometown and found a job as a
      night guard on a construction site.During that time school was done online
      and i was spending my time studying and freelancing as a front end developer.
    </div>
    <hr class="bg-dark" />
  </li>
  <li>
    <hr class="bg-dark" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
        ><path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path></svg
      >
    </div>
    <div class="timeline-text timeline-start md:text-end mb-10 relative">
      <time class="font-mono italic">2022</time>
      <div class="text-3xl sm:text-4xl font-black">
        First Job as a Web Developer
      </div>
      A local company in Podgorica was organizing a free 9 months long web developer
      bootcamp with the best students having an opportunity for a job.After the bootcamp
      was finished i got hired and have been working there as a web developer ever
      since.
    </div>
  </li>
</ul>

<script>
  import { gsap } from "gsap";
  import {
    cloudGeneratingFunction,
    starGeneratingFunction,
  } from "../utils/clouds";

  const aboutMeTitle = document.querySelector(".aboutMeTitle");

  const aboutMeTitleObserver = new IntersectionObserver(
    (entrie) => {
      entrie.forEach((element) => {
        if (element.isIntersecting) {
          gsap.to(aboutMeTitle, {
            duration: 0.2,
            backgroundSize: "100% 6px",
            backgroundPosition: " 0 100%",
          });
        } else {
          gsap.to(aboutMeTitle, {
            duration: 0.2,
            backgroundSize: "0 0",
            backgroundPosition: " 0 0",
          });
        }
      });
    },
    {
      threshold: 0.6,
    },
  );

  aboutMeTitleObserver.observe(aboutMeTitle);

  let target = document.querySelectorAll(".timeline-text");

  const observer = new IntersectionObserver(
    (entrie) => {
      entrie.forEach((element) => {
        if (element.isIntersecting) {
          gsap.to(element.target, {
            top: 0,
            opacity: 1,
            ease: "elastic.out(1,1)",
            duration: 2,
            force3D: true,
          });
        } else {
          gsap.to(element.target, {
            opacity: 0,
            top: -40,
            duration: 2,
            ease: "elastic.out(1,1)",
            force3D: true,
          });
        }
      });
    },
    {
      threshold: 0.4,
    },
  );

  target.forEach((target) => {
    observer.observe(target);
  });

  let root = document.querySelector(".timeline");

  cloudGeneratingFunction(root, 3000, 7, 15);
  starGeneratingFunction(root, 15);
</script>
