---
---

<div class="h-screen overflow-hidden killMe rightBox md:pr-0 p-20">
  <div
    class="h-full border-8 md:border-r-0 rounded-xl border-dark bg-orange p-12"
  >
    <h2 class="text-4xl text-white">HI MY NAME IS PROJECT</h2>
  </div>
</div>
<div class="h-screen overflow-hidden killMe llMe md:pl-0 p-20">
  <div
    class="h-full bg-primary border-8 md:border-l-0 border-dark rounded-xl drop-shadow-3xl p-12"
  >
    <h2 class="text-4xl">HI MY NAME IS PROJECT</h2>
  </div>
</div>
<div class="h-screen overflow-hidden killMe rightBox md:pr-0 p-20">
  <div
    class="h-full bg-orange border-8 md:border-r-0 border-dark rounded-xl p-12"
  >
    <h2 class="text-4xl">HI MY NAME IS PROJECT</h2>
  </div>
</div>

<script>
  let target = document.querySelectorAll(".killMe");

  const observer = new IntersectionObserver((entrie) => {
    entrie.forEach((element) => {
      if (
        element.isIntersecting &&
        element.target.classList.contains("rightBox")
      ) {
        console.log(element.isIntersecting);
        element.target.classList.add("box1");
      } else if (element.isIntersecting) {
        element.target.classList.add("boxMiddle");
      }
    });
  });

  target.forEach((target) => {
    observer.observe(target);
  });
</script>
