@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: url('public/fonts/PressStart2P.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.lightTheme {
  --appBackground: #fefcfb;
  --subtleBackground: #fef8f4;
  --componentBackground: #fff1e7;
  --componentBackgroundHover: #ffe8d7;
  --componentBackgroundSelected: #ffdcc3;
  --subtleBorder: #ffcca7;
  --focusBorder: #fa934e;
  --hoverBorder: #f76808;
  --solidBackground: #f76808;
  --solidBackgroundHover: #ed5f00;
  --lowContrastText: #bd4b00;
  --highContrastText: #451e11;
  --primary:#f4e04d;
  --secondary:#139a43;
  --dark:#231f20;
  --orange:#0077ee;
  --white:#fcefce;


}
.darkTheme {
  --appBackground: #1f1206;
  --subtleBackground: #2b1400;
  --componentBackground: #391a03;
  --componentBackgroundHover: #441f04;
  --componentBackgroundSelected: #4f2305;
  --subtleBorder: #5f2a06;
  --focusBorder: #763205;
  --hoverBorder: #943e00;
  --solidBackground: #f76808;
  --solidBackgroundHover: #ff802b;
  --lowContrastText: #ff8b3e;
  --highContrastText: #feeadd;
  --primary:#0b1fb2;
  --secondary:#ec65bc;
  --dark:#dce0df;
  --orange:#d16f0d;
  --white:#031031;
}
