@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "mainFont";
    src: url("public/fonts/BebasKai.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "lightFont";
    src: url("public/fonts/InriaSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "italicFont";
    src: url("public/fonts/Syne-Italic.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
.lightTheme {
  --appBackground: #fefcfb;
  --subtleBackground: #fef8f4;
  --componentBackground: #fff1e7;
  --componentBackgroundHover: #ffe8d7;
  --componentBackgroundSelected: #ffdcc3;
  --subtleBorder: #ffcca7;
  --focusBorder: #fa934e;
  --hoverBorder: #f76808;
  --solidBackground: #f76808;
  --solidBackgroundHover: #ed5f00;
  --lowContrastText: #bd4b00;
  --highContrastText: #451e11;
  --primary: #f4e04d;
  --secondary: #139a43;
  --dark: #231f20;
  --orange: #ffff00;
  --white: #0096ff;
  --starVisible:none
}
.darkTheme {
  --appBackground: #1f1206;
  --subtleBackground: #2b1400;
  --componentBackground: #391a03;
  --componentBackgroundHover: #441f04;
  --componentBackgroundSelected: #4f2305;
  --subtleBorder: #5f2a06;
  --focusBorder: #763205;
  --hoverBorder: #943e00;
  --solidBackground: #f76808;
  --solidBackgroundHover: #ff802b;
  --lowContrastText: #ff8b3e;
  --highContrastText: #feeadd;
  --primary: #0b1fb2;
  --secondary: #000000;
  --dark: #dce0df;
  --orange: #d16f0d;
  --white: #031031;
  --starVisible:block
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--orange), var(--orange));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--orange), var(--orange));
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}





.cloud {
  position: absolute;
  z-index: -1;
}

.star {
  position: absolute;
  z-index: -1;
  display: var(--starVisible);
}










