---
import spotifyProjectImage from "./../../public/images/spotifyProject.png";

import { Image } from "astro:assets";
---

<div class="card sm:card-side bg-projectCardBg drop-shadow-3xl">
  <figure class="sm:w-2/3 md:w-1/2 h-auto">
    <Image
      class="w-full h-full object-cover"
      src={spotifyProjectImage}
      alt="Album"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">New album is released!</h2>
    <p>Click the button to listen on Spotiwhy app.</p>
    <div class="card-actions justify-end">
      <a href="/blog" class="btn btn-primary">Listen</a>
    </div>
  </div>
</div>
