---

---

<div
  class="drawer md:hidden fixed top-16 h-screen w-0 z-50 overflow-hidden drop-shadow-3xl transition-all duration-200"
>
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul
      class="menu fixed pt-6 p-4 w-72 h-full flex bg-drawerBackground border-r-4 border-dark text-dark"
    >
      <li class="border-b-2 border-dark/20">
        <a
          href="/"
          onclick="closeDrawer()"
          class="font-black text-sm uppercase tracking-widest text-dark py-4 hover:bg-primary"
          >Home</a
        >
      </li>
      <li class="border-b-2 border-dark/20">
        <a
          href="#projectSection"
          onclick="closeDrawer()"
          class="font-black text-sm uppercase tracking-widest text-dark py-4 hover:bg-primary"
          >Projects</a
        >
      </li>
      <li class="border-b-2 border-dark/20">
        <a
          href="/allBlogs/"
          class="font-black text-sm uppercase tracking-widest text-dark py-4 hover:bg-primary"
          >Blog</a
        >
      </li>
      <li>
        <a
          onclick="closeDrawer(); document.querySelector('#my_modal_1').showModal()"
          class="font-black text-sm uppercase tracking-widest text-dark py-4 hover:bg-primary cursor-pointer"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</div>

<script is:inline>
  const closeDrawer = () => {
    const drawerCheckbox = document.querySelector("#my-drawer");
    if (drawerCheckbox) drawerCheckbox.checked = false;
  };
</script>
