---
import "../global.css";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold text-6xl">
          My name is <span class="text-orange font-serif">Milos</span> and i am a <span
            class="text-orange font-serif">fullstack</span
          > web developer.
        </h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button class="btn btn-primary">Say hi to me</button>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-orange bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold text-6xl">
          My name is Milos and i am a fullstack web developer
        </h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200 bg-white">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold text-6xl">
          My name is Milos and i am a fullstack web developer
        </h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <div class="h-screen bg-primary flex justify-items-center items-center p-32">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aliquid
    veritatis modi magnam nam rem ullam eveniet obcaecati aperiam assumenda,
    voluptates debitis illum sed architecto alias vero similique doloremque at.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad laudantium ea
    suscipit accusantium a impedit, eveniet non culpa ullam itaque quis facere
    aut dolor vel vitae cupiditate veniam doloremque saepe.
  </div>
</Layout>
