---
import "../global.css";
import Header from "../components/Header/Header.astro";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import portfolioProjectImage from "../public/images/portfolioProject.png";
import spotifyProjectImage from "../public/images/spotifyProject.png";
import landingAndBlogProjectImage from "../public/images/landingAndBlogProject.png";
import AboutSection from "../components/AboutSection.astro";
---

<Layout>
  <Header />
  <span id="projectSection">&nbsp;</span>
  <br /><br /><br /><br /><br />
  <div class="overflow-hidden bip relative">
    <Project
      title="Portfolio"
      image={portfolioProjectImage}
      description={"Portfolio project made with AstroJS"}
      liveSite={"https://milosdanilovicportfolio.vercel.app/"}
      gitHub={"https://github.com/MilosDanilovic98/portfolio"}
    />
    <Project
      title="Spotify clone"
      image={spotifyProjectImage}
      liveSite={"https://milos-danilovic-spotify-clone.vercel.app/"}
      gitHub={"https://github.com/MilosDanilovic98/spotify-clone"}
      description={"A fully responsive Spotify clone with options to upload,play and add a song to a list of favorites.Uses Spotify API to generate" +
        "a playlist based on inputed songs,albums and artist with the option of adding the generated playlist to your spotify account."}
    />
    <Project
      title="Landing page and blog"
      liveSite={"https://landing-and-blog-project.vercel.app/index.html"}
      gitHub={"https://github.com/MilosDanilovic98/landingAndBlogProject"}
      image={landingAndBlogProjectImage}
      description={"A fully responsive landing page made with AstroJS  together with CMS"}
    />
  </div>

  <span id="aboutSection">&nbsp;</span>
  <br /><br /><br /><br /><br />

  <AboutSection />
</Layout>

<script>
  import {
    cloudGeneratingFunction,
    starGeneratingFunction,
  } from "../utils/clouds";

  let root = document.querySelector(".bip");

  cloudGeneratingFunction(root, 3000, 3, 15);
  starGeneratingFunction(root, 15);
</script>
