---
import "../global.css";
import Header from "../components/Header/Header.astro";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import portfolioProjectImage from "../public/images/portfolioProject.png";
import spotifyProjectImage from "../public/images/spotifyProject.png";
import landingAndBlogProjectImage from "../public/images/landingAndBlogProject.png";
---

<Layout>
  <Header />
  <div class="overflow-hidden">
    <Project
      title="Portfolio"
      image={portfolioProjectImage}
      description={"Portfolio project made with AstroJS"}
      liveSite={"https://milosdanilovicportfolio.vercel.app/"}
      gitHub={"https://github.com/MilosDanilovic98/portfolio"}
    />
          <Project
      title="Spotify clone"
      image={spotifyProjectImage}
      description={"A fully responsive Spotify clone with options to upload,play and add a song to a list of favorites.Uses Spotify API to generate" +
        "a playlist based on inputed songs,albums and artist with the option of adding the generated playlist to your spotify account."}
    />
    <Project
      title="Landing page and blog"
      image={landingAndBlogProjectImage}
      description={"A fully responsive landing page made with AstroJS  together with CMS"}
    />
  </div>
</Layout>

<script></script>
