---
import Navbar from "./components/Navbar.astro";
import Footer from "./components/Footer.astro";
import "../global.css";
import Drawer from "./components/Drawer.astro";
import { ViewTransitions } from 'astro:transitions';
---

<html id="root" lang="en" class="lightTheme">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <!--<ViewTransitions/>-->
  </head>
  <body class="bg-white text-dark font-mainFont ">
  <Navbar/>


    <slot  />


    <Footer/>
  </body>
</html>
